.App, html, body, #root {
  height: 100%;
}
.App {
  width: 100%;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: clamp(1rem, 2vw, 2rem);
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100dvh;
}

@media (max-width: 630px) {
  .App {
    gap: 1rem;
    padding: 1rem;
  }
}
