@import '@shared/styles/variables';

.Header {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: static;
  justify-content: center;
}

.Header__logo {
  display: block;
}

.Header__title {
  margin: 0;
  font-size: 1.5rem;
  color: $color--purple;
}

@media (min-width: 1441px) {
  .Header {
    position: absolute;
    right: calc(50% + 2rem + 272px)
  }
}
